<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ACadSharp" version="3.4.2" targetFramework="net48" />
  <package id="netDxf" version="2023.11.10" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
</packages>